.bg{margin-top: 10%;}
.rwrapper{padding: 5px;}
.rlisting{background-color: #fff; overflow: hidden;}
.rlisting img{width: 100%}
.nopad{padding:0;}
.listheader{text-align:center}
.rlisting h5,.rlisting p {padding:0 15px; text-align:center;}